<h1>Alle veganen Rezepte:</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Stichwort</th>
    <th>Erklärung</th>
  </tr>
</thead>

<% @glosentries.each do |glosentry| %>
  <tr>
    <td><%= image_tag(glosentry.picture_url, :width => 300) if glosentry.picture.present?%></td>
    <td><%= link_to glosentry.keyword, glosentry %></td>
    <td><%= glosentry.short_explanation(50) %></td>
  </tr>
<% end %>
 
  <tr>
    <td></td>
    <td></td>
    <td></td>
    
  </tr>
</table>
 
<br />
 
