<h1>Listing glosentries</h1>

<table>
  <tr style="background-color: teal;">
    <th>Stichwort</th>
    <th>Erklaerung</th>
  </tr>

<% @glosentries.each do |glosentry| %>
  <tr style="background-color: <%= cycle 'silver', 'white' %>;">
    <td><%= link_to glosentry.keyword, glosentry %></td>
    <td><%=h glosentry.short_explanation(50) %></td>
  </tr>
<% end %>
 
  <tr style="background-color: teal;">
    <th></th>
    <th></th>   
  </tr>
</table>
 
<br />
 
<p><%= link_to 'Neuer Eintrag', new_glosentry_path %></p>
