
<body>
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@glosentry.picture_url, :width => 300) if @glosentry.picture.present? %>
</p>

<p>
  <b>Keyword:</b>
  <%= @glosentry.keyword %>
</p>

<p>
  <b>Explanation:</b>
  <%= @glosentry.explanation %>
</p>
</body>
