<!DOCTYPE html>
<html>
<head>
  <title>Glossary</title>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
			<div class="container">
			  <div class="navbar-header">
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/glosentries">Vegan On The Rocks</a></li>
     					<li ><a href="/glosentries">Rezepte</a></li>
     				</ul>	
     			</nav>	
			  </div>
		    </div>
		</header>


<div class="container"><%= yield %></div>

</body>
</html>
